p {
    text-decoration: none;
    display: block;
    padding: 1em;
}

.navbar {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background: #334059;
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #E5E5DC;
}

.footer {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background: #334059;
}

.footer a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: #E5E5DC;
}

.container {
    display: grid;
    grid-template-columns: 25vw auto;
    grid-template-rows: 85vh;
}

.item-a {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #EDDDD0;
}

.item-b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #E5E5DC;
}